.text-center{
    font-size: 2.3rem;
    display: block;
    text-align: center;
    color: var(--colorWhite);
    padding-inline:4vw ;
}
.text{
    padding-inline:6vw ;
    text-align: center;
}
.text > p:last-child{
    font-size: calc(var(--fontSize)/1.2);
}
.text > p > span{
    cursor: pointer;
    text-decoration: underline;
    font-weight: 600;
}
.text > h2{
    font-size: calc(var(--fontSize)*2);
}
.box{
	border-radius:3px;
    justify-content:space-between;
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding-block: 1rem;
}

/* .btnBack{
    margin: 0.5rem;
    font-size: 2rem;
    width: fit-content !important;
    height: fit-content !important;
    aspect-ratio: 1;
    padding: 0.5rem !important;
    border-radius: 5rem !important;
    margin-right: auto; 
} */
.forCheckBox{
    text-wrap: wrap;
    width: 100%;
    text-align: center ;
}
.inputCheckboxContainer{
    display: flex;
    align-items: center;
    gap: 1rem;
    text-wrap: wrap;
    width: fit-content;
    justify-content: center;
}
.box .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    transition: all 0.2s ease;
    /* gap: clamp(7dvh, 15dvh, 17dvh); */
}
.inputsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
    margin-inline: auto;
}
.buttonsContainer{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content:space-evenly;
}
.input-container{
	position:relative;
    width: 30vw;
    min-width: 20rem;
	margin-bottom:15px;
}
.input-container .label-n{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
    color: rgb(14, 14, 14);
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:2px solid #aeaeae; 
  transition: all 0.5s ease; 
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:18px;
  color: var(--black2);
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:3px solid var(--black2);	
}
.btn{
	color:#fff;
	background-color:var(--black);
	outline: none;
    border: 0;
    font-size: var(--fontSize);
    align-self: center;
	padding:10px 20px;
	text-transform:uppercase;
	border-radius: .3rem;
	cursor:pointer;
	position:relative;
    width: clamp(3rem, 27vw, 30vw);
}
.input-container input:focus ~ .label-n,
.input-container input:valid ~ .label-n{
	top:-12px;
	font-size:12px;
	
}
.signUpLink{
    color: #6FB555;
}





.boxInfo{
    width: 47%;
    min-width: 25rem;
    height:79vh;
    margin: auto;
    border-radius: .5rem;
    overflow: hidden;
    object-fit:cover;
    object-position: bottom;
    box-shadow: 1px 1px 3px black;
}
.form{
    width: 50%;
}
@media (max-width:800px) {
    .boxInfo{
        display: none;
    }
    .form{
        width: 100%;
    }
}
.message{
    position: absolute;
    background-color: var(--grey2);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 3vh;
    top: 50vh;
    left:50vw;
    transform: translate(-50%, 0%);
    width: clamp(20rem, 30vw, 35vw);
    padding: var(--padding);
    border: var(--borderNeon);
    border-radius: var(--borderRadius);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.218);
}
.message button{
    width: 5rem;
    height: 1.5rem;
    text-align: center;
    padding: 0.1rem 1rem;
    border: var(--border);
    border-radius: var(--borderRadius);

}

.error{
    color: red;
    background-color: aliceblue;
    text-align: center;
    display: block;
    position: absolute;
    left: 80vw;
    top: 10vh;
}