.blog{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3vh;
    padding: 5vh 4vw 20vh;
    font-size: 120%;
    overflow: hidden;
}
.blog h1, h3{
    color: var(--white);
}
.blog section{
    width: 70vw;
    margin-inline: auto;

}
.list{
    list-style: circle;
    margin-left: 2rem;
}