.loader{
    position: fixed;
    width: 100vw;
    height: 100dvh;
    top: 0;
    transform: translate(49.3%, 0);
    background-color: rgba(0, 0, 0, 0.063);
}
.loader svg{
    transform: translateY(45vh);
}