.searchBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--padding);
    --width:32rem;
    width: var(--width);
    margin: 1.5% 3%;
    border: var(--border);
    background-color: var(--white);
    border-radius: var(--borderRadius);
    font-size: var(--fontSize);
}
.searchBar input{
    width: calc(var(--width)*75/100);
    height: calc(var(--width)/14);
    background-color: transparent;
    outline: none;
    border: none;
    font-size: var(--fontSize);
    margin-block: auto;
}
.searchBar button{
    width: calc(var(--width)*16/100);
    min-width: 6rem;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    color: var(--white);
    background-color: var(--black);
    scale: 120%;
    padding: 0.4rem;
    border-radius: var(--borderRadius);
}
@media (max-width: 500px) {
    .searchBar{
        --width:25rem;
    }
}
@media (max-width: 415px) {
    .searchBar{
        --width:70vw;
    }
    .searchBar button  :nth-child(2){
        display: none;
    }
    
    .searchBar button{
        min-width: unset;
        width: fit-content;
    }
}