.searchBar{
    display: flex;
    flex-direction: row;
    padding: var(--padding);
    --width:30rem;
    width: var(--width);
    margin-inline: 2%;
    border: var(--border);
    background-color: var(--white);
    border-radius: var(--borderRadius);
    font-size: var(--fontSize);
}
.searchBar input{
    width: calc(var(--width)*90/100);
    height: calc(var(--width)/14);
    background-color: transparent;
    outline: none;
    border: none;
}
.searchBar button{
    width: calc(var(--width)*10/100);
    background-color: transparent;
    cursor: pointer;
}